@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f3eded;
  color: rgba(0, 0, 0, 0.7);
}
/* header .top-strip {
  
} */

.container {
  width: 95%;
  margin: auto;
}

.link:hover {
  color: #f77474;
}
.MuiBadge-badge {
  background-color: #ff0000 !important;
}
/* 
nav ul button {
  text-transform: capitalize !important ;
    color: rgba(0, 0, 0, 0.7) !important;
}
nav ul button:hover {
  text-transform: capitalize !important ;
    color:  #f77474 !important;
} */

nav ul button {
  text-transform: capitalize !important ;
}

nav ul button:hover{background : none !important;}
